* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 18px;
}

p {
    margin-top: 8px;
}

a {
    text-decoration: none;
}

.header-container {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 1080px;
}

.logo {
    margin-right: auto;
}

.logo a {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.menu a {
    color: #E5E7EB;
}

.action {
    color: #E5E7EB;
    width: 450px;
}

.action h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

.col-2 {
    gap: 70px;
    padding: 120px 20px;
}

.placeholder {
    background-color: #6d747d;
    width: 560px;
    padding: 112px 0;
    text-align: center;
}

.button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 10px 32px;
    margin: 10px 0;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    border-radius: 12px;
}